.heading {
    background: #93B5C6;
}

.logo-area {
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
}

.nav-area {
    margin-right: 80px;

}

.nav-area li a {
    font-size: 20px;
    color: #0A1D37;
    font-weight: 600;
}

.toggler {
    color: black;
}